@font-face {
    font-family: 'Hammersmith';
    src: url('../assets/fonts/Hammersmith.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Germania';
    src: url('../assets/fonts/GermaniaOne-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@media (width >= 1200px) {
    #main-content {
        margin-left: auto;
        margin-bottom: 20px;
        margin-right: auto;
        max-width: 1200px;
    }
}

@media (width < 1200px) and (width >= 768px) {
    #main-content {
        margin: 0 50px 20px;
    }
}

@media (width >= 900px) {
    .exec-info {
        width: 30%;
    }

    #socials {
        max-width: 75%;
    }

    #social-links {
        gap: 20px;
    }
}

@media (width < 900px) {
    #execs {
        flex-direction: column;
    }
}

@media (width < 900px) and (width >= 768px) {
    .exec-info {
        width: 50%;
    }
}

@media (width >= 768px) {
    #lehigh-links h2, #lehigh-links p {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .social-link-group {
        gap: 20px;
    }
}

@media (width < 768px) {
    #links-img {
        flex-direction: column;
    }

    #lehigh-links h2, #lehigh-links p {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #social-links {
        gap: 20px;
    }

    .social-link-group {
        gap: 20px;
    }
}

@media (width < 768px) and (width >= 500px) {
    .exec-info {
        width: 90%;
    }
    
    #main-content {
        margin: 0 50px 20px;
    }
}

@media (width < 650px) {
    #social-links {
        flex-direction: column;
    }
}

@media (width < 500px) {
    #main-content {
        margin: 0 10px 10px;
    }

    .exec-info {
        width: 100%;
        box-sizing: border-box;
    }
}

body {
    font-family: 'Hammersmith';
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #EDB634;
    /* heading border */
    -webkit-text-stroke: 0.5px #4A321B;
    font-family: 'Germania';
    text-align: center;
    font-size: 2.5em;
}

#main-content {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

#execs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.exec-info {
    background-color: #2C2440;
    color: #edb634;
    display: flex;
    flex-direction: column;
    gap: 5px;
    min-width: fit-content;
    padding: 20px;
    border-radius: 20px;
}

#execs p {
    margin: 0;
}

.role {
    font-size: 1.3em;
}

#bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}

#links-img-socials {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

#links-img {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#lehigh-links {
    background-color: #D5C5B8;
    color: #2C2440;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 20px;
}

#lehigh-links p {
    font-size: 1.25em;
}

#psyche-run {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

/* #psyche-run img {
    max-width: 75%;
} */

#socials {
    background-color: #D5C5B8;
    color: #2C2440;
    font-family: 'Hammersmith';
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
}

#socials a {
    background-color: #604429;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100px;
    padding: 20px;
    border-radius: 20px;
}

#social-links {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
}

.social-link-group {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    flex: 1;
}

#social-links a {
    flex: 1;
}

#social-links img {
    width: 100%;
}

main img {
    width: 100%;
    border-radius: 20px;
}

#alumni-box {
    background-color: #D5C5B8;
    color: #2C2440;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
    border-radius: 20px;
}

#alumni-box h2, #alumni-box p {
    margin: 0;
}