@font-face {
    font-family: 'Hammer';
    src: url('../assets/fonts/Hammersmith.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Germania';
    src: url('../assets/fonts/GermaniaOne-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Jose';
    src: url('../assets/fonts/Josefin.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    text-align: center;
    font-family: 'Hammer'
}

h1 {
    color: #EDB634;
    font-family: 'Germania';
}

h2 {
    color: #EDB634;
    font-family: 'Hammer';
    padding: 25px;
    margin: 0px;
}

.director-text, .past-directors {
    background-color: #967860;
    color: #2C2440;
}

.director-text {
    border-radius: 10%;
}

.current-director, .past-directors {
    margin-left: 100px;
    margin-right: 100px;
}

.current-director, .directors {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.current-director {
    margin-top: 50px;
    margin-bottom: 50px;
    gap: 25px;
}

.current-director img {
    flex: 1;
    border-radius: 10%;
    max-width: 300px;
    max-height: 300px;
    object-fit: cover;
}

.current-director p {
    flex: 2;
    padding: 25px;
    max-width: 600px;
}

.past-directors {
    flex-direction: column;
    margin-bottom: 25px;
}

.directors {
    margin-top: 0px;
    padding: 25px;
    padding-top: 0px;
}

.director-group {
    display: flex;
    flex-direction: column;
}

li {
    list-style-type: none;
}