@font-face {
    font-family: 'Hammersmith';
    src: url('../assets/fonts/Hammersmith.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Josefin';
    src: url('../assets/fonts/Josefin.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Germania';
    src: url(../assets/fonts/GermaniaOne-Regular.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
}

@media (width >= 1024px) {
    #main-content {
        margin-left: 20px;
        margin-right: 20px;
    }

    .exec {
        flex-direction: row;
        gap: 20px;
    }

    .exec-text {
        padding: 10px;
    }
}

@media (width < 1024px) {
    h2 {
        margin-left: 10px;
        margin-right: 10px;
    }

    #main-content {
        margin: 0 10px;
    }

    .exec {
        gap: 20px;
    }
}

@media (width < 1024px) and (width >= 600px) {
    .exec {
        flex-wrap: wrap;
    }

    .exec-text {
        min-width: 400px;
        max-width: 500px;
    }
}

@media (width >= 600px) {
    .mobile-role {
        display: none;
    }
}

@media (width < 600px) {
    h1 {
        margin-left: 10px;
        margin-right: 10px;
    }

    .exec {
        flex-direction: column;
    }

    .exec-text {
        padding: 0px;
    }

    .desktop-role {
        display: none;
    }
}

h1 {
    font-family: 'Germania';
    color: #EDB634;
    font-size: 2.5em;
    /* heading border */
    -webkit-text-stroke: 0.5px #4A321B;
}

#main-content {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.exec-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-family: 'Hammersmith';
}

.mobile-role {
    margin-top: 0;
    max-width: 75%;
    padding: 10px;
    box-sizing: border-box;
}

.person h2 {
    color: #EDB634;
}

.role, .role h2 {
    color: #4B2A11;
}

main p {
    color: #2C2440;
    font-family: 'Josefin';
    font-size: large;
}

.person p {
    color: #FFFFFF;
    font-style: italic;
}

.exec-text {
    border-radius: 30px;
    min-width: 300px;
}

.person {
    background-color: #483B4C;
}

.role {
    background-color: #D5C5b8;
}

h1, h2, p {
    text-align: center;
}

.exec {
    display: flex;
    justify-content: space-around;
}

.exec-text {
    flex: 2;
}

.image-div {
    align-self: center;
}

.exec p {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.exec-photo {
    align-self: center;
    border-radius: 20px;
}

main img {
    width: 200px;
    height: 250px;
    object-fit: cover;
}

/* little space between last exec and end of page */
#senior-rep {
    margin-bottom: 20px;
}