#logo {
    width: 50px;
    height: auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1, h2, p {
    text-align: center;
}

.exec {
    display: flex;
    gap: 50px;
    justify-content: space-around;
    margin-left: 75px;
    margin-right: 75px;
    margin-bottom: 25px;
}

.exec div {
    flex: 2;
}

.exec .image-div {
    flex: 1;
    align-self: center;
}

.exec p {
    text-align: justify;
}

.exec-photo {
    max-width: 150px;
    align-self: center;
    border-radius: 10%;
}

img {
    width: 150px;
    height: 200px;
    object-fit: cover;
}