@font-face {
    font-family: 'Germania';
    src: url(../assets/fonts/GermaniaOne-Regular.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Josefin';
    src: url('../assets/fonts/Josefin.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Hammersmith';
    src: url('../assets/fonts/Hammersmith.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@media (width >= 1024px) {
    .img-and-background {
        gap: 50px;
        margin: 0 50px;
    }

    .img-and-background figure, .img-and-background p {
        flex: 1;
    }

    .long-img {
        width: 100%;
    }

    .imgs-and-facts {
        justify-content: space-around;
        align-items: stretch;
    }

    .img-fact-group {
        justify-content: space-around;
        align-items: flex-start;
        gap: 10px;
    }

    .img-fact-group figure, .img-fact-group section {
        flex: 1;
    }

    .small-img {
        width: 100%;
    }

    .column-pair img, .column-pair figcaption {
        width: 75%;
    }

    .column-pair figcaption {
        box-sizing: border-box;
    }

    .single-photo, .photo-pair {
        flex: 1;
    }

    .photo-pair {
        flex-direction: column;
    }

    .subway-article, .subway-text {
        width: 75%;
    }
}

@media (width < 1024px) {
    .img-and-background {
        flex-direction: column;
        gap: 20px;
    }

    .long-img {
        width: 100%;
    }

    .imgs-and-facts {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .img-fact-group {
        justify-content: center;
        align-items: flex-end;
        gap: 20px;
    }

    .fun-fact {
        max-width: 500px;
    }

    .timeline-and-photos {
        flex-direction: column;
    }

    .photo-columns {
        flex-direction: column;
    }

    .subway-article, .subway-text {
        width: 100%;
    }
}

@media (width < 1024px) and (width >= 850px) {
    .small-img {
        width: 100%;
    }
    
    .three-photos {
        align-items: flex-end;
    }
    
    .photo-pair {
        flex-direction: row;
        align-items: flex-end;
    }
}

@media (width < 850px) {
    .small-img {
        width: 100%;
    }

    .three-photos {
        flex-direction: column;
    }

    .photo-pair {
        flex-direction: column;
    }
}

@media (width >= 550px) {
    .imgs-and-facts {
        margin: 20px;
    }

    .timeline-and-photos {
        margin: 0 20px 20px;
    }

    .photo-columns {
        margin: 0 20px 20px;
    }
    
    .last-img {
        margin: 0 20px 20px;
    }
}

@media (width >= 550px) and (width < 1024px) {
    .img-and-background {
        margin: 0 20px;
    }

    .img-fact-group figure {
        flex: 1;
    }

    .img-fact-group section {
        flex: 2;
    }
}

@media (width < 550px) {
    .img-and-background {
        margin: 0 10px;
    }

    .imgs-and-facts {
        margin: 20px 10px;
    }

    .img-fact-group {
        flex-direction: column;
        text-align: center;
    }

    .timeline-and-photos {
        margin: 0 10px 20px;
    }

    .photo-columns {
        margin: 0 10px 20px;
    }

    .last-img {
        margin: 0 10px 20px;
    }
}

h1 {
    color: #EDB634;
    /* heading border */
    -webkit-text-stroke: 0.5px #4A321B;
    font-family: 'Germania';
    font-size: 2.25em;
    text-align: center;
}

.img-and-background {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

figure {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

img {
    border-radius: 10px;
}

figcaption {
    font-style: italic;
}

figcaption {
    background-color: #FCD55D;
    color: #2C2440;
    font-family: 'Josefin';
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}

.img-and-background p {
    background-color: #D5C5B8;
    color: #2C2440;
    font-family: 'Josefin';
    padding: 20px;
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 20px;
}

.imgs-and-facts {
    display: flex;
    gap: 20px;
}

.img-fact-group {
    display: flex;
    flex: 1;
}

.fun-fact {
    background-color: #D5C5B8;
    color: #2C2440;
    display: flex;
    flex-direction: column;
    align-self: stretch;
    padding: 10px;
    border-radius: 20px;
}

.fun-fact h2 {
    font-family: 'Hammersmith';
    font-size: large;
    text-align: center;
}

.fun-fact p {
    font-family: 'Josefin';
}

.timeline-and-photos {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 20px;
}

.timeline, .photos {
    flex: 1;
}

.timeline {
    background-color: #4A321B;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
}

.timeline h2 {
    color: #EDB634;
    font-family: 'Germania';
}

.timeline p {
    color: #F1F0E7;
    font-family: 'Josefin';
}

.photos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.three-photos {
    display: flex;
    gap: 20px;
}

.photo-pair {
    display: flex;
    gap: 20px;
}

.photo-columns {
    display: flex;
    gap: 20px;
}

.worlds-fair, .column-pair {
    flex: 1;
}

.worlds-fair img, .worlds-fair .caption-and-description {
    width: 100%;
}

.worlds-fair .caption-and-description {
    box-sizing: border-box;
}

.column-pair {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.caption-and-description {
    background-color: #FCD55D;
    color: #2C2440;
    font-family: 'Josefin';
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}

.caption-and-description figcaption {
    padding: 0;
    margin-bottom: 10px;
    border-radius: 0;
}

details p:last-child {
    margin-bottom: 0;
}

.subway-text {
    box-sizing: border-box;
}