@font-face {
    font-family: 'Germania';
    src: url(../assets/fonts/GermaniaOne-Regular.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Josefin';
    src: url('../assets/fonts/Josefin.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Hammersmith';
    src: url('../assets/fonts/Hammersmith.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

h1 {
    color: #EDB634;
    /* heading border */
    -webkit-text-stroke: 0.5px #4A321B;
    font-family: 'Germania';
    font-size: 2.25em;
    text-align: center;
}

.img-and-background {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    margin: 0 100px;
}

figure {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

img {
    border-radius: 10px;
}

.long-img {
    width: 500px;
}

figcaption {
    background-color: #FCD55D;
    color: #2C2440;
    font-family: 'Josefin';
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}

.img-and-background p {
    background-color: #D5C5B8;
    color: #2C2440;
    font-family: 'Josefin';
    padding: 10px;
    border-radius: 20px;
}

.imgs-and-facts {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 20px;
    margin: 24px 50px;
}

.img-fact-group {
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: flex-start;
    gap: 10px;
}

.small-img {
    width: 250px;
}

.fun-fact {
    background-color: #D5C5B8;
    color: #2C2440;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 20px;
}

.fun-fact h2 {
    font-family: 'Hammersmith';
    font-size: large;
    text-align: center;
}

.fun-fact p {
    font-family: 'Josefin';
}

.timeline-and-photos {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 10px;
    margin: 0 20px;
}

.timeline, .photos {
    flex: 1;
}

.timeline {
    background-color: #4A321B;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
}

.timeline h2 {
    color: #EDB634;
    font-family: 'Germania';
}

.timeline p {
    color: #F1F0E7;
    font-family: 'Josefin';
}

.photos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.three-photos {
    display: flex;
    gap: 20px;
}

.photo-pair {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.caption-and-description {
    background-color: #FCD55D;
    color: #2C2440;
    font-family: 'Josefin';
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}

.caption-and-description figcaption {
    padding: 0;
    margin-bottom: 10px;
    border-radius: 0;
}

details p:last-child {
    margin-bottom: 0;
}