@font-face {
    font-family: 'Hammersmith';
    src: url('../assets/fonts/Hammersmith.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Josefin';
    src: url('../assets/fonts/Josefin.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Germania';
    src: url('../assets/fonts/GermaniaOne-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@media (width < 1024px) {
    #band-img-and-info {
        flex-direction: column;
    }
}

@media (width >= 768px) or (width < 500px) {
    .refrosh-img {
        flex: 1;
    }
}

@media (width >= 768px) {
    #imgs-and-info {
        margin: 0 20px;
    }

    #refrosh-contact-join {
        margin-bottom: 20px;
    }
}

@media (width < 768px) and (width >= 500px) {
    .refrosh-img {
        flex: 0;
    }
}

@media (width < 768px) {
    #imgs-and-info {
        margin: 0 10px;
    }

    #refrosh-contact-join {
        flex-direction: column;
        margin-bottom: 10px;
    }
}

body {
    text-align: center;
}

h1 {
    color: #edb634;
    /* heading border */
    -webkit-text-stroke: 0.5px #4A321B;
    font-family: 'Germania';
    text-align: center;
    font-size: 2.5em;
    margin-left: 20px;
    margin-right: 20px;
}

#imgs-and-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

#band-img-and-info, #refrosh-contact-join {
    display: flex;
    gap: 20px;
}

main img {
    border-radius: 20px;
}

#full-band {
    flex: 1;
    align-self: center;
}

#full-band img {
    width: 100%;
}

#info, #contact {
    background-color: #D5C5B8;
    color: #2C2440;
    padding: 10px;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    gap: 15px;
    border-radius: 20px;
}

#info h2, #info ul, #info p {
    padding: 0 20px;
}

#info h2 {
    padding-top: 20px;
}

#no-experience {
    font-family: 'Hammersmith';
    font-size: 1.17em;
    padding: 5px 20px !important;
}

#info p {
    padding-bottom: 20px;
}

h2 {
    font-family: 'Hammersmith';
    font-size: 1.25em;
    margin: 0;
}

main ul, main p {
    font-family: 'Josefin';
    margin: 0;
}

main ul {
    padding-inline-start: 0;
    list-style-type: none;
    font-size: 1.1em;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#refrosh, #contact-and-join {
    display: flex;
    justify-content: space-evenly;
    flex: 1;
    gap: 20px;
}

.refrosh-img {
    width: 40%;
    object-fit: cover;
}

#contact-and-join {
    flex-direction: column;
    justify-content: center;
}

#contact, #join {
    flex: 1;
}

#contact {
    padding: 10px;
}

#contact p {
    font-size: 1.1em;
}

#join {
    background-color: #2C2440;
    color: #EDB634;
    font-family: 'Germania';
    font-size: 2.5em;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border: 15px solid #745943;
    border-radius: 20px;
}