@font-face {
    font-family: 'Hammer';
    src: url('../assets/fonts/Hammersmith.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    background-color: #AA8A71;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 100%;
    width: 100%;
    padding: 10px;
    font-family: 'Hammer';
    font-size: large;
}

#logo {
    width: 50px;
    height: auto;
}

ul {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    text-align: center;
}

.nav-item {
    color: inherit;
    text-decoration: inherit;
    padding: 10px;
}

.current, [aria-current=page] {
    color: #EDB634;
}

li {
    position: relative;
    width: 100%;
    color: #2C2440;
}

a {
    display: block;
}

nav p {
    margin: 0;
}

button {
    font-size: small;
    border: none;
    background-color: inherit;
    color: inherit;
}

.hide-about, .hide-members {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: white;
    padding-inline-start: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    top: 42px;
    font-size: medium;
}

.hide-meet {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: white;
    padding-inline-start: 0px;
    width: 100%;
    top: -2px;
    left: 100%;
}

.hide-about li, .hide-members li {
    box-sizing: border-box;
    border: solid #4A321B;
}

.hide-about li:not(:last-child), .hide-members li:not(:last-child), .hide-meet li:not(:last-child) {
    border-bottom: none;
}

.current:hover, .current:focus-within {
    text-decoration: underline;
}

nav li:hover, nav li:focus-within {
    display: block;
    background-color: #745943;
    color: white;
    text-decoration: underline;
}

nav li:hover > ul, nav li:focus-within > ul {
    visibility: visible;
}