#logo {
    width: 50px;
    height: auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 100%;
    width: 100%;
    padding: 10px;
}

ul {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.nav-item {
    color: #2C2440;
}

.current {
    color: #EDB634;
}

nav li {
    position: relative;
}

nav a {
    text-decoration: none;
}

nav p {
    margin: 0;
}

li {
    padding: 10px;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: #AA8A71;
}

.dropdown {
    text-align: center;
}

.hide-about, .hide-members {
    /* visibility: hidden; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    border: solid #4A321B;
    background-color: white;
    padding-inline-start: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    top: 40px;
}

.hide-members {
    visibility: hidden;
}

.hide-meet {
    /* visibility: hidden; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    border: solid #4A321B;
    background-color: white;
    padding-inline-start: 0px;
    width: 100%;
    top: -2px;
    left: 100%;
}


.hide-about li, .hide-members li {
    box-sizing: border-box;
    border-bottom: solid #4A321B;
}

.hide-about li:last-child, .hide-members li:last-child, .hide-meet li:last-child {
    border-bottom: none;
}