@font-face {
    font-family: 'Hammersmith';
    src: url('../assets/fonts/Hammersmith.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Josefin';
    src: url('../assets/fonts/Josefin.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Germania';
    src: url('../assets/fonts/GermaniaOne-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@media (width >= 620px) {
    main ul {
        margin-left: auto;
        margin-right: auto;
        max-width: 600px;
    }
}

@media (width < 620px) {
    #main-content {
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
    }
}

h1 {
    color: #edb634;
    /* heading border */
    -webkit-text-stroke: 0.5px #4A321B;
    font-family: 'Germania';
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 20px;
}

#main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding-inline-start: 0px;
    margin-top: 0;
}

main li {
    font-family: 'Josefin';
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 100%;
    padding: 10px 20px 5px;
    box-sizing: border-box;
    border-radius: 30px;
}

.star {
    height: 12px;
}

main li p {
    margin: 0;
}

.dark {
    background-color: #745943;
    color: #F1F0E7;
}

.light {
    background-color: #D5C5B8;
    color: #331E11;
}

#small-box {
    display: flex;
    align-items: center;
    border-radius: 30px;
    justify-content: center;
    max-width: 250px;
}

#center {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.left, .right {
    flex: 1;
}

.left {
    display: flex;
    align-items: flex-start;
    gap: 5px;
}

.right {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.italic {
    font-style: italic;
}